* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/** HEADER MOBILE **/

.main-header {
    background-color: #EAC926;
}

.main-header-top-bar {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
}

.search-bar {
    width: 50%;
}

.search-bar input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #1259c3;
    border-radius: 5px 0px 0px 5px;
}

.search-bar button {
    width: 10%;
    padding: 10px;
    background-color: #1259c3;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0022AA;
}

.search-bar button i {
    font-size: 15px;
}

.title-header {
    padding: 13px;
    text-align: center;
    margin: auto;
}

.nav-container {
    display: none;
    padding-bottom: 20px;
}

.nav-container a {
    text-decoration: none;
}

.nav-container ul li {
    color: black;
}

.nav-container ul li a:hover {
    font-weight: 600;
}

.nav-items {
    padding: 8px 0;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 43px;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-banner {
    margin-top: 30px;
}

.main-banner img {
    width: 100%;
}

/** MAIN MOBILE **/

main {
    max-width: 100%;
    margin: 0 auto;
}

section.article-section header {
    width: 100%;
}

article {
    width: 100%;
    margin: 10px 0;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

article:hover {
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
}

.article-section {
    padding: 15px;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-section img {
    width: 100%;
}

.section-title {
    color: #666;
}

.article-description {
    border-top: 1px solid #ebebeb;
    background-color: #ffffff;
    position: relative;
    padding: 15px 10px;
}

.article-description > .truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.truck:hover {
    animation: rotateAnimation 0.5s ease forwards;
}

.price {
    margin: 0;
    font-size: 18px;
    color: #03264C;
    width: 30%;
    float: left;
    margin-right: 1em;
}

.off {
    margin: 0;
    font-size: 18px;
    color: #39b54a;
}

.description {
    display: none;
    color: #666;
    font-size: 15px;
    padding: 10px 0px;
}

.article-section article:hover .description {
    display: flex;
}

/** FOOTER MOBILE **/

footer {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 12px;
}

.footer-content {
    margin: 20px;
    color: #666;
}

.footer-content i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    transition: color 0.3s ease;
}

.footer-content:hover i {
    color: #EAC926;
}

/** REGISTER & LOGIN MOBILE **/

.form-container {
    background-color: #e6e6e6;
    padding: 10px;
}

 .form-container label {
    display: block;
    margin: 13px 0;
    font-weight: bolder;
}

 .form-container input, .form-container textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 .form-container .button-container {
    margin: 20px 0;
    text-align: center;
}

 .form-container .user-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

 .form-container .interest-category-container {
    text-align: left;
    font-weight: lighter;
}

 .form-container .user-checkbox-container input {
    width: 40px;
}

 .form-container .checkbox-label {
    display: inline-block;
}

.interest-category-container div {
    margin-bottom: 10px; 
}

 .form-container .interest-category-container input {
    width: 40px;
 }

 .form-container input[type="checkbox"],
 .form-container input[type="radio"] {
    margin-right: 5px;
}

 .form-container button {
    background-color: #1259c3;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

 .form-container button:hover {
    background-color: #0022AA;
 }
 

@media (min-width: 768px) {

    /** HEADER TABLETS **/

    .main-header-top-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        width: 30%;
        margin-right: 10px;
    }

    .search-bar {
        width: 30%;
    }

    .title-header {
        width: 30%;
        text-align: center;
        margin: 0;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .nav-items {
        list-style: none;
        display: flex;
        margin: 0;
    }
    
    .nav-items li {
        margin: 0px 10px;
    }
    
    .nav-items a {
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .main-banner {
        margin-top: 0px;
    }

    /** MAIN TABLETS **/

    article {
        width: calc(50% - 25px);
        margin: 10px;
    }

    /** FOOTER TABLETS **/


    /** REGISTER & LOGIN TABLETS **/

    .form-container {
        padding: 20px 20%;
    }

}

@media (min-width: 1200px) {

    /** HEADER DESKTOP **/

    .nav-container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .nav-items {
        list-style: none;
        display: flex; 
        margin: 0; 
    }
    
    .nav-items li {
        margin: 0px 30px;
    }
    
    .nav-items a {
        text-decoration: none;
        color: black;
    }

    .title-header {
        margin: 0;
    }

    /** MAIN DESKTOP **/

    article {
        width: calc(25% - 25px);
        margin: 10px;
    }

    /** FOOTER DESKTOP **/

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-content {
        max-width: 30%;
    }

    .footer-content:last-child {
        width: 100%;
    }
    
    /** REGISTER DESKTOP **/

    .form-container {
        padding: 20px 25%;
    }

}